<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Display Pokemon</title>
</head>

<body class="s-body">
    <h1 class="s-h1">
        <%= pokemon.name %>
    </h1>
    <% if (pokemon.collected){ %>
        <p class="s-p">This pokemon is in your collection</p>
    <% } else { %>
        <p class="s-p">This pokemon is not in your collection</p>
    <% } %>
        <form class="s-form" action="/pokemons/<%=pokemon.id%>?_method=DELETE" method="POST">
            <button class="s-button" type="submit">Delete <%= pokemon.name %></button>
        </form>
        <a class="s-a" href="/pokemons/<%= pokemon._id%>/edit">Edit <%= pokemon.name %></a>
        <a class="s-a" href="/pokemons/">Back to the collection</a>
</body>

</html>